*{
    margin:0;
    padding: 0;
}

#header{
    padding: 10px 10px 10px 1px;
    background:#39A2DB;
    color: white;
}

.head{
    padding: 50px;
    margin: 1px 2px 3px  2px;
    box-shadow: 0 1rem 1rem 0 rgba(53, 95, 194, 0.5),
0 -0.25rem 1.5rem rgb(15, 127, 161) inset,
0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
0 0.25rem 0.5rem 0 rgb(11, 153, 189) inset;
    border-radius: 50px;
    margin: 05%;

}

.navbar {
  overflow: hidden;
  font-family: "montserrat",sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #39A2DB;
}


.title{
    font-family:"montserrat",sans-serif;
    font-size: 3.1rem;
    line-height: 1.8;
    margin-top: 15%;
    color: white;
    text-shadow: 2px 4px rgb(255, 255, 255, 0.2);
}


.main-image{
width: 50%;
height: 80%;
margin-left: 30%;
margin-right: 60px;
}

.download-button1{
    background:#4bade2 ;
    margin: 10% 0% 0% 30%;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    line-height: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(53, 95, 194, 0.5),
                                0 -0.25rem 1rem rgb(15, 127, 161) inset,
                                0 0.5rem 0.25rem rgba(255,255,255, 0.4) inset,
                                0 0.1rem 0.25rem 0 rgb(11, 153, 189) inset;
                              
}

  

.download-button2{
        background:#37a2db ;
        margin: 100px auto 10px auto;
        padding: 0.5rem 1.5rem;
        outline: none;
        border: none;
        cursor: pointer;
        width: 100%;
        border-radius: 10px;
        line-height: 2.5rem;
        font-size: 0.73rem;
        font-weight: bold;
        border: 3px solid white ;
        box-shadow: 0 0.5rem 0.5rem 0 rgba(53, 95, 194, 0.5),
          0 -0.25rem 1rem rgb(15, 127, 161) inset,
          0 0.5rem 0.25rem rgba(255,255,255, 0.4) inset,
          0 0.1rem 0.25rem 0 rgb(11, 153, 189) inset;
}
        
    
.download-button1:hover{
      background-color:#5abff6 ;
        transform: scale(1.1);
}
    
.download-button2:hover{
      background-color:#5abff6 ;
     transform: scale(1.05);
}

#features{
    text-align: center;
    font-family: "montserrat",sans-serif;
    padding:7% 15%;
    background-color: #fff;
    position: relative; 
}
  
.feature-box{
    text-align:center;
    padding:5%;
    color: rgb(160, 160, 160);
}
.icon{
    color:#50aadb;
    margin-bottom: 1rem;
}
.icon:hover{
    transform: scale(1.2);
    color:#39A2DB;
    
}

.utility-image{
    height: 160px;
    margin:  3% auto;
   
}

#utilities{
    
    text-align: center;
    background:#39A2DB; 
    padding: 7% 0;
}
  
.card{
    font-family: "montserrat",sans-serif;
    text-align: center;
    margin: 3%;
    padding:8%;
    background: rgba(182, 176, 176, 0.048);
    border-radius: 10px;
    box-shadow: 0 1rem 1rem 0 rgba(53, 95, 194, 0.5),
0 -0.25rem 1.5rem rgb(15, 127, 161) inset,
0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
0 0.25rem 0.5rem 0 rgb(11, 153, 189) inset;
transition: all 1s ease-in-out;
}

.cards-heading{
    font-family: "montserrat",sans-serif;
    font-size: 3rem;
    margin-bottom: 5%;
    color: rgb(250, 250, 250);
    text-shadow: 2px 6px rgba(66, 201, 224, 0.1);
} 
 
#footer{
    padding: 5% 15%;
    text-align: center;
}

.social-icon{
    margin:20px;
    font-size: 2.5rem;
}

.container-fluid{
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}


















  @media (max-width: 993px) {
    .title{
        
        padding: 5px 30px;
        font-size: 2.5rem;
    }
        .main-image{
        
         margin: 10px 30px 0 0;
         align-self: center;
        }
        .head{
            text-align: center;
        }
      }